body {
    background-color: #2e3131;
}
h3 {
    color: white;
}
label {
    color: white;
}
table {
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}